.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.sides-form-container {
  margin: 20px 0;
}
.draw-container {
  height: 500px;
  width: 500px;
  align-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  background-color: #a33a3c;

  box-shadow: rgba(26, 42, 58, 0.2) 0px 8px 24px;
}

.draw-text {
  text-align: center;
  background-color: #ffffff;
  color: rgb(95, 89, 89);
}

input[type="submit"] {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 45px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input[type="submit"]:hover {
  background-color: #7eb380;
}

p {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
}
